<template name="newDashboard">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3 class="page-header">New Dashboard</h3>
      <form id="newDashboard">
        <div class="form-group">
          <label for="keyword1">First Keyword</label>
          <input type="text" name="keyword1" class="form-control" placeholder="#keyword" required>
        </div>
        <!-- end .form-group -->
        <div class="form-group">
          <label for="keyword2">Second Keyword</label>
          <input type="text" name="keyword2" class="form-control" placeholder="#keyword">
        </div>
        <!-- end .form-group -->
        <div class="form-group">
          <label for="keyword3">Third Keyword</label>
          <input type="text" name="keyword3" class="form-control" placeholder="#keyword">
        </div>
        <!-- end .form-group -->
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Save Settings">
        </div>
        <!-- end .form-group -->
      </form>
    </div>
    <!-- end .col-xs-12 -->
  </div>
  <!-- end .row -->
</template>